/* CSS Document */
body{
	padding: 10px;
	color: rgba(255,255,255,1);
	background-size: 110%;
	background: repeating-linear-gradient(to left top,rgb(0,0,0),rgb(64,64,64),rgb(128,128,128),rgb(192,192,192),rgb(255,255,255));
}
header{
	text-align: center;
	background-color: rgba(0,0,0,1);
	width: "100%";
 	padding:inherit;
 	border:10px;
	font-size: 50px;
	font-family: "Times New Roman";
	font-variant: small-caps;
	border-radius: 10px;
	text-shadow: 2px 2px 5px rgb(255,255,255);
}
div.all{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items:flex-start;
	width: 100%;
}
nav,section{
	border-radius: 5px;
	padding: 10px;
	margin-top: 10px;
}
nav{
	order: 0;
	background-color: rgba(0,0,0,0.8);
	height: 500px;
	width: 100px;
	border-color: rgba(0,0,0,0.9)
}
section{
	order: 1;
	background-color: rgba(0,0,0,0.6);
	flex-basis: 1000px;
	margin-left: 10px;
}
ol{
	list-style-position: inside;
	list-style-type: upper-roman;
	font-size: 10px;
	margin-left: -40px;
}
ol li{
	background-color: rgba(0,0,0,0.5);
	margin: 2px;
	margin-left: -2px;
	margin-right: -2px;
	padding: 5px;
	border-radius: 4px;
	
}
a{
	text-decoration: none;
}
a:link{
	color: rgba(0,125,233,0.90);
}
a.self{
	color: rgba(154,0,0,0.90);
}
h1{
	margin: 5px;
	font-size: 30px;
}
p{
	text-indent: 20px;
	word-break: break-all;
}
